<div class="container d-flex">
    <div class="card" style="width:300px;">
        {{#each userDetails}}
        <div class="row row-0">
            <div class="col-3">
                <!-- Photo -->
                <img src="{{image}}" style="height: 100px;width:736px;" class="object-cover card-img-start">
            </div>
            <div class="spec-user col-9" id={{_id}}>
                <div class="card-body">
                    <h3 class="card-title">{{firstname}} {{lastname}}</h3>
                </div>
            </div>
        </div><br>
        {{/each}}
    </div>
    <div class="card" style="height: 600px;width:1300px;" id="chat-box">
    </div>
</div>
{{!-- <input type="hidden" id="user-id-hidden" name="hiddenval" value="{{logInUser._id}}"> --}}

<script src="javascripts/pagewise/chat.js"></script>