<div>
    <div class="bg-secondary d-flex">
        <div>
            <img src="{{chatUser.image}}" style="height: 57px;width:71px;"
                class="rounded-circle object-cover card-img-start">
        </div>
        <div style="margin-left: 10px;margin-top:16px;">
            {{chatUser.firstname}} {{chatUser.lastname}}
        </div>
    </div>
    <div class="bg-dark" style="height: 500px;overflow: scroll;" id="chat-messages">
        {{#each messages}}
        {{#compare ../logInUser "==" sendBy}}
        <div class="bg-primary mt-2 p-3 rounded mb-2" style="max-width:500px;clear:both;float:right">{{message}}</div>
        {{!-- <div class="card bg-primary" style="width:300px;height:40px;margin-left:753px;">{{message}}</div> --}}
        {{else}}
        <div class="bg-green mt-2 p-3 rounded" style="max-width:500px;clear:both;float:left">{{message}}</div>
        {{!-- <div class="card bg-success" style="width:300px;height:40px;">{{message}}</div> --}}
        {{/compare}}
        {{/each}}
    </div>
    <div class="row">
        <div class="form-group col-11">
            <input type="text" name="message" id="message-info" class="form-control">
        </div>
        <div class="col-auto text-center">
            <button class="send btn btn-primary" id="{{chatUser._id}}">send</button>
        </div>

    </div>
</div>

{{!-- style="position:absolute;bottom:0;width:940px;" --}}

{{!-- style="position:absolute;bottom:0;width:100px;margin-left:947px;" --}}