<div class="row row-cards">
  {{#each postData}}

  <div class="col-sm-6 col-lg-4">
    <div class="like-btn card card-sm" id="{{_id}}">

      <div class="card-body">
        <div class="d-flex flex-row">
          <span class="avatar me-3 rounded" style="background-image: url({{data.image}})"></span>

          <div>{{data.firstname}} {{data.lastname}}</div>

          {{{isMatch ../logInUser._id data._id}}}
          <div class="dropdown-menu">
            <div class="dropdown-menu-columns">
              <div class="dropdown-menu-column ">
                <a class="dropdown-item" href="javascript:void(0)" data-postid={{_id}} id="edit-btn">
                  Edit Post
                </a>
                <a class="dropdown-item" href="javascript:void(0)" data-postid={{_id}} id="archive-btn">
                  Archive
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#" class="d-block"><img src="../uploads/{{imageId}}" class="card-img-top"
          style="height: 424px;width:500px"></a>
      <h3 class="card-title" style="margin-left: 16px;margin-top:14px">{{title}}</h3>
      <p class="card-text" style="margin-left: 16px; margin-top:3px">{{description}}</p>
      <p style="margin-left: 17px;">{{formatdate createdOn}}</p>

      {{!-- <div class="d-flex justify-content-end">
        <svg xmlns="http://www.w3.org/2000/svg" class="savebtn icon icon-tabler icon-tabler-bookmark " width="24"
          height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
          stroke-linejoin="round" id="{{postBy}}" data-id="{{_id}}" style="margin-top: -74px;margin-right: 31px;">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"></path>
      </div> --}}
      {{#if savedatatatat}}
      <div class="d-flex justify-content-end">
        <svg xmlns="http://www.w3.org/2000/svg" class="unsavebtn icon icon-tabler icon-tabler-triangle-inverted-filled"
          width="24" height="24" id="{{postBy}}" data-id="{{_id}}" viewBox="0 0 24 24" stroke-width="2"
          stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"
          style="margin-top: -74px;margin-right: 31px;">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M19.007 3a3 3 0 0 1 2.828 3.94l-.068 .185l-.062 .126l-7.09 12.233a3 3 0 0 1 -5.137 .19l-.103 -.173l-7.1 -12.25l-.061 -.125a3 3 0 0 1 2.625 -4.125l.058 -.001l.06 .002l.043 -.002h14.007z"
            stroke-width="0" fill="currentColor"></path>
        </svg>
      </div>
      {{else}}
      <div class="d-flex justify-content-end">
        <svg xmlns="http://www.w3.org/2000/svg" class="savebtn icon icon-tabler icon-tabler-bookmark " width="24"
          height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
          stroke-linejoin="round" id="{{postBy}}" data-id="{{_id}}" style="margin-top: -74px;margin-right: 31px;">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"></path>
      </div>
      {{/if}}
      <div class="d-flex justify-content-end">
        <p style="margin-top: -73px;margin-right: 107px;">{{likedByCount}}</p>
      </div>
      {{#if like}}
      <div class="d-flex justify-content-end">
        <svg xmlns="http://www.w3.org/2000/svg" class="liked-post icon icon-filled text-red" width="24" height="24"
          viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
          stroke-linejoin="round" style="margin-top: -74px;margin-right: 81px;" id="{{_id}}">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
        </svg>
      </div>
      {{else}}
      <div class="d-flex justify-content-end">
        <svg xmlns="http://www.w3.org/2000/svg" class="liked-post icon" width="24" height="24" viewBox="0 0 24 24"
          stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"
          style="margin-top: -74px;margin-right: 81px;" id="{{_id}}">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
        </svg>
      </div>
      {{/if}}

      <div class="d-flex justify-content-end">
        <svg xmlns="http://www.w3.org/2000/svg" data-bs-toggle="modal" data-bs-target="#comment-post"
          class="comment icon icon-tabler icon-tabler-message-circle-2-filled" width="24" height="24"
          viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
          stroke-linejoin="round" style="margin-top: -74px;margin-right: 55px;" id="{{_id}}">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M5.821 4.91c3.898 -2.765 9.469 -2.539 13.073 .536c3.667 3.127 4.168 8.238 1.152 11.897c-2.842 3.447 -7.965 4.583 -12.231 2.805l-.232 -.101l-4.375 .931l-.075 .013l-.11 .009l-.113 -.004l-.044 -.005l-.11 -.02l-.105 -.034l-.1 -.044l-.076 -.042l-.108 -.077l-.081 -.074l-.073 -.083l-.053 -.075l-.065 -.115l-.042 -.106l-.031 -.113l-.013 -.075l-.009 -.11l.004 -.113l.005 -.044l.02 -.11l.022 -.072l1.15 -3.451l-.022 -.036c-2.21 -3.747 -1.209 -8.392 2.411 -11.118l.23 -.168z"
            stroke-width="0" fill="currentColor"></path>
        </svg>
      </div>
      <div class="{{_id}}"
        style="display: none;background-color: lightblue;width: 110px;height: 110px;overflow: scroll; margin-left: 300px;margin-top:-110px">
        {{#each likedBy}}
        <p>{{this}}</p>
        {{/each}}
      </div>
    </div><br>
  </div>

  {{> post/edit}}
  {{> post/comment}}
  {{/each}}
</div>
{{!-- <ul class="pagination" style="margin-left: 256px;">
  {{#if pageArry}}
  {{#each pageArry}}
  <li class="page-item" id="pagination-list"><a class="page-link" href="/timeline?page={{this}}">{{this}}</a></li>
  {{/each}}
  {{else}}
  {{#each pageArrys}}
  <li class="page-item" id="pagination-list"><a class="page-link" href="/timeline/posts?page={{this}}">{{this}}</a></li>
  {{/each}}
  {{/if}}

</ul> --}}

<script src="javascripts/pagewise/timeline.js"></script>

<script src="javascripts/pagewise/post.js"></script>